body {
    background-color: #222f3b; /* Background color */
    margin: 0; 
    height: 100vh; 
    color: #d2d2d6; /* Text color */
}

.stApp {
    background-color: transparent;
    min-height: 100vh;
    display: flex; 
    flex-direction: column; 
}

.streamlit-expanderHeader {
    color: #1cb3e0; /* Primary color */
}

.stFileUploader {
    width: 70%; 
    max-width: 600px;
    margin: 0 auto; 
    border-radius: 5px; 
    padding: 10px; 
    background-color: #1a82a1; /* Primary color */
    text-align: center; 
    cursor: pointer; 
}

.stFileUploader button {
    background-color: #1cb3e0; /* Primary color */
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    transition: background-color 0.3s;
}

.stFileUploader button:hover {
    background-color: #155d8a; /* Darker shade for hover */
}

h1 {
    font-size: 2.5em;
    color: #1cb3e0; /* Primary color */
    text-align: center;
    margin-bottom: 20px;
}

.stMarkdown {
    font-size: 1.2em; 
    color: #d2d2d6; /* Text color */
    margin-bottom: 20px; 
    text-align: center;
}

.sidebar .sidebar-header {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #d2d2d6; /* Text color */
}

.stButton {
    
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1em; 
    transition: background-color 0.3s; 
        display: block; /* Make button a block-level element */
    margin: 0 auto; /* Center the button */
}

.stTextInput {
    width: 70%;
    max-width: 600px; 
    margin: 0 auto; 
    border-radius: 5px;
    color: #dfdfe6; /* Text color */
}

.user-message, .bot-message {
    background-color: #ffffff; 
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 85%;
}
